.ancherpane {
    /* Set the background image */
    -fx-background-image: url('icons/LoginBackground.png');

    /* Preserve the aspect ratio of the image */
    -fx-background-size: cover;

    /* Set background image to fill the entire scene */
    -fx-background-repeat: no-repeat;

    /* Center the background image */
    -fx-background-position: center;
}

#navBar{
    -fx-background-color: #464646;
    -fx-text-fill: white;
}
#buttonColor{
    -fx-background-color: #464646;
    -fx-text-fill: white;

}

#boxColor{
    -fx-background-color: #464646;
    -fx-text-fill: white;
}

:root {
    --min-farve: #336699; /* Definerer en variabel og gemmer en farve */
}

/* Anvender variablen */
.element {
    color: var(--min-farve); /* Anvender variablen til farveegenskaben */
    background-color: var(--min-farve); /* Anvender variablen til baggrundsfarveegenskaben */
}
