.root {
    -MainColor: #108cf1; /* Definerer en variabel og gemmer en farve */
    -BackgroundColor: #E4E4E4
}

#signInBox {
    -fx-background-color: derive(-MainColor, 0%);
    -fx-opacity: 0.36;
    -fx-border-radius: 15px 15px 15px 15px;
    -fx-background-radius: 15px 15px 15px 15px;
    -fx-border-insets: -1;
}

#signInBoxStuff {
    -fx-background-color: transparent;
    -fx-opacity: 1;
    -fx-border-radius: 15px 15px 15px 15px;
    -fx-background-radius: 15px 15px 15px 15px;
    -fx-border-insets: -1;
    -fx-effect: null;
}

.signInBox .button {
    -fx-background-color: derive(-MainColor, 0%); /* Example: using -fx-control-inner-background as a system color */
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.signInBox .button:hover {
    -fx-background-color: #1a90ef; /* Example: using -fx-control-inner-background as a system color */
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.signInBox .button .mfx-ripple-generator {
    -mfx-ripple-color: #033054; /* Ripple color (same as main color) */
    -fx-opacity: 0.2;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}


/* Override MaterialFX default styles for text field */
.signInBox .mfx-text-field {
    -mfx-text-fill: white; /* Text color */
    -mfx-prompt-text-fill: white; /* Prompt text color */
    -fx-border-color: none; /* Blue border color */
    -fx-border-radius: 0px; /* Border radius */
    -fx-background-radius: 0px; /* Background radius */
}

.signInBox .text-field {
    -fx-highlight-fill: rgba(0, 138, 255, 0.14);
}


.signInBox .label {
    -fx-text-fill: white;
}


.createUpdateEvent .button{
    -fx-background-color: #464646;
    -fx-text-fill: white;
}

.createUpdateEvent .label{
    -fx-text-fill: white;
}
#eventAnchorPane{
    -fx-background-color: derive(-BackgroundColor, 0%);
}

#eventCreateUpdateBackgroundVbox {
    -fx-background-color: #464646;
}

#navBar {
    -fx-background-color: derive(-MainColor, 0%);
    -fx-text-fill: white;
}

#buttonColor {
    -fx-background-color: #464646;
    -fx-text-fill: white;
}

#boxColor {
    -fx-background-color: #464646;
    -fx-text-fill: white;
}

#backgroundColor{
    -fx-background-color: #E4E4E4;
    -fx-text-fill: black;
}

#btnCreateEvent {
    -fx-background-color: transparent;
}

#btnCRUDCoordinators {
    -fx-background-color: transparent;
}

